{% include 'header.twig' %}
<div class="outerWrapper">
    <div class="innerWrapper">
        <h3>Edit {{ recipe.title }}</h3>

        <form action="" method="POST">
            <label for="title">Recipe Title</label>
            <input type="text" name="title" value="{{recipe.title}}" class="form-control" required />
            <label for="ingredients">Ingredients</label>
            <textarea name="ingredients" cols="60" rows="5" class="form-control" required>{{recipe.ingredients}}</textarea>
            <label for="instructions">Instructions</label>
            <textarea name="instructions" cols="60" rows="5" class="form-control" required>{{recipe.instructions}}</textarea>
            <!-- input type="text" name="cuisineupdate" value="{{recipe.cuisine_id}}" required / -->
            <div class="formGroup">
                <label for="category">Category</label>
                <select name="category" class="form-control" placeholder="{{recipe.category_id}}">
                    {% for category in categories %}
                        <option value="{{category.id}}"{% if category.id == recipe.category_id %} selected{% endif %}>{{category.category|capitalize}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formGroup">
                <label for="cuisine">Cuisine</label>
                <select name="cuisine" class="form-control">
                    {% for cuisine in cuisines %}
                        <option class="form-control" value="{{cuisine.id}}"{% if cuisine.id == recipe.cuisine_id %} selected{% endif %}>{{cuisine.type|capitalize}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" name="submit" value="Update Recipe" class="btn btn-success btn-sm" />
        </form>
    </div>
</div>

{% include 'footer.twig' %}